.wrapper {
  width: 32px;
  height: 32px;
  position: relative;
}
.wrapper svg path {
  fill: #b2bec3;
}
.anchor {
  padding: 2px 6px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 4px;
  background: #0984e3;
  font: 12px 'Ubuntu', sans-serif;
  color: #dfe6e9;
}