* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ol, ul {
  list-style: none;
}
input, textarea, button {
  outline: none;
}
table {
  border-collapse: collapse;
}
blockquote, q {
  quotes: none;
}