* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
}
*::before, *::after {
  content: '';
}
ol, ul {
  list-style: none;
}
input, textarea, button {
  outline: none;
}
table {
  border-collapse: collapse;
}
blockquote, q {
  quotes: none;
}